<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/checkbox.css">
    <title>q7</title>
      <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="demo">

        <p id="text" style="text-align: left;font-size: 25px;padding: 5px;">คุณเคยลองใช้ยาหรือาหารเสริม เสริมสมรรถภาพทางเพศต่อไป
        <font size="3px" color="gray"> *เลือกทุกข้อที่เกี่ยวข้อง </font>
        </p>


        <div class="Answer-Choice" style="margin-top: 100px;">
            <div class="checkbox-con">
                <input type="checkbox" id="Answer1" name="Answer" value="A" v-model="newScore"><label
                    for="Answer1">ไวอะกร้า</label>
                <input type="checkbox" id="Answer2" name="Answer" value="B" v-model="newScore"><label
                    for="Answer2">ยาเกร็กคู</label>
                <input type="checkbox" id="Answer3" name="Answer" value="C" v-model="newScore"><label for="Answer3">โสม</label>
                <input type="checkbox" id="Answer4" name="Answer" value="D" v-model="newScore"><label for="Answer4">ยาชาสำหรับทาน้องชาย</label>
                <input type="checkbox" id="Answer5" name="Answer" value="E" v-model="newScore"><label for="Answer5">ไม่เคยมีความคิดหรือเคยลองใช้</label>
            </div>
        </div>

       
       <div>
            <button class="button1" onclick="location.href='q6.html'"><i class="fa fa-arrow-left" style="font-size: 26px;"></i></button>
            <button class="button" @click="addAnswer">CONTINUE</button>
        </div>

    </div>

</body>

<script src="../JS/q7.js"></script>

</html>