<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../CSS/total.css">
    <title>Document</title>

      <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <div class="demo">

        <p id="text">คะแนนรวม:
        </p>
        <div id="scoretotal" style="position: absolute; font-size: 80px; font-weight: bold; margin-left: 10%; top:30px;">{{scoreResult}}</div>

        <div>
            <div id="image_total" style="text-align: center;margin-left: 10px;">
        </div>

        <p id="text1">{{titel}}</p>
        <p id="text2">{{rangeScore}}</p>
        <p id="text3">{{content}}</p>
        <p id="text4">คุณค่าที่นำเสนอ : Hibro ได้ทำงานร่วมกับผู้เชี่ยวชาญทางการแพทย์เพื่อให้คำแนะนำเกี่ยวกับสุขภาพอย่างครบถ้วน Add(เพิ่ม) Line เพื่อรับข้อมูลเพิ่มเติมเกี่ยวกับบริการของ Hibro หรือพูดคุยกับเราโดยตรงเกี่ยวกับข้อกังวลของคุณ</p>
        <p id="text5">Share this to your close friends and see who is top of the kingdom!</p>
    </div>

      <div>
            <button class="button1" onclick="location.href='#'"><i class="fa fa-share-alt" style="font-size: 25px;"></i></button>
            <button class="button">ADD FRIEND</button>
        </div>

    </div>

</body>
<script src="../JS/scoretotal.js"></script>
</html>