<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start</title>
    <link rel="stylesheet" type="text/css" href="../CSS/start.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>

    <div class="demo">

        <div>
            <p id="text">น้องชายของคุณพร้อมกับครั้งนี้แค่ไหน?</p>

            <p id="text1"> Information contained in this website is provided for educational purposes only, and should not be
construed as medical advice on any subject matter. Please consult a medical professional if the
information here leads you to believe you may have the condition. We will also collect anonymized
information from this website to identify ways to improve the user experience and Hibro services.
By proceeding, you confirm that you agree to this declaimer, and you are at least 18 years of age.

            </p>

        <div>
            <button class="button" onclick="location.href='age.html'">LET'S START</button>
        </div>

        </div>

    </div>

</body>

</html>