.demo {
    position: relative;
    width: 375px;
    height: 812px;
    background: #FFFFFF;
    border: 20px solid #E1EFF8;
    font-family: arial
}
#text {
    font-size: 30px;
    margin-top: 5%;
    text-indent: 8%;
    font-family: arial;
    font-weight: bold;
}
#text1 {
    font-family: 'Kanit', sans-serif;
    font-size: 40px;
    margin-top: 10%;
    font-weight: bold;
    /* font-family: arial; */
    margin: 20px;
    /* letter-spacing: 3px; */
}
#text2 {
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    color: blue;
    font-family: arial;
}
#text3 {
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: left;
    font-family: arial;
    margin: 20px;
}
#text4 {
    font-size: 12px;
    display: block;
    text-align: left;
    font-family: arial;
    margin: 20px;
    color: rgb(162, 158, 158);
    white-space: normal;
}
#text5 {
    font-size: 13px;
    font-weight: bold;
    font-family: arial;
    margin: 20px;
    text-align: left;
}
.button {
    background-color: Transparent;
    color: rgb(34, 0, 255);
    border: 2px solid #4501FF;
    font-size: 20px;
    margin-top: 10px;
    width: 220px;
    height: 65px;
    cursor: pointer;
}
.button1 {
    background-color: Transparent;
    color: #4501FF;
    border: 2px solid #4501FF;
    margin-top: 10px;
    width: 70px;
    height: 65px;
    cursor: pointer;
    margin-left: 20px;
}