    .demo {
        text-align: center;
        position: relative;
        width: 375px;
        height: 812px;
        background: #FFFFFF;
        border: 20px solid #D5EBFA;
    }
    .Answer-Choice input[type=checkbox] {
        display: none;
        margin: 20px;
    }

    .Answer-Choice input[type=checkbox]+label {
        display: inline-block;
        width: 300px;
        height: 65px;
        background-color: #D5EBFA;
        cursor: pointer;
        border: #D5EBFA;
        padding: 3%;
        text-align: left;
    }

    .Answer-Choice label {
        line-height: 25px;
        text-indent: 0%;
        font-size: 17px;
    }

    .Answer-Choice input[type=checkbox]:checked+label {
        color: rgb(0, 0, 0);
        background-color: #AAD7F6;
    }
     .button {
         background-color: Transparent;
         color: rgb(34, 0, 255);
         border: 2px solid #4501ff;
         font-size: 20px;
         margin-top: 15px;
         width: 220px;
         height: 65px;
         cursor: pointer;
     }

     .button1 {
         background-color: #c5c5c5;
         color: #505050;
         border: 2px solid #c5c5c5;
         margin-top: 20px;
         width: 70px;
         height: 65px;
         cursor: pointer;
     }