    .demo {
        text-align: center;
        position: relative;
        width: 375px;
        height: 812px;
        background: #FFFFFF;
        border: 20px solid #D5EBFA;
    }

    .btn {
        background-color: #c5f5f4;
        border: none;
        color: rgb(4, 0, 0);
        width: 300px;
        height: 70px;
        text-align: left;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .Answer-Choice input[type=checkbox] {
        display: none;
        margin: 20px;
    }

    .Answer-Choice input[type=checkbox]+label {
        display: inline-block;
        width: 300px;
        height: 70px;
        background-color: #D5EBFA;
        text-align: left;
        cursor: pointer;
        font-size: 20px;
        border: #D5EBFA;
        text-indent: 1em;
    }

    .Answer-Choice label {
        line-height: 30px;
    }

    .Answer-Choice input[type=checkbox]:checked+label {
        color: rgb(0, 0, 0);
        background-color: #AAD7F6;
    }
      .button {
          background-color: Transparent;
          color: rgb(34, 0, 255);
          border: 2px solid #4501ff;
          font-size: 20px;
          margin-top: 80px;
          width: 220px;
          height: 65px;
          cursor: pointer;
      }

      .button1 {
          background-color: #c5c5c5;
          color: #505050;
          border: 2px solid #c5c5c5;
          margin-top: 20px;
          width: 70px;
          height: 65px;
          cursor: pointer;
      }