
/* @font-face {
  font-family: Knit;
  src: url("Knit.ttf")

} */
body{
  margin: 0 0;
}
  
   .demo {
    text-align: center;
    position: relative;
    width: 375px;
    height: 812px;
    background: #FFFFFF;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   }

  .button {
    background-color: Transparent;
    color: rgb(255, 255, 255);
    border: 2px solid #ffffff;
    font-size: 20px;
    margin: 375px auto;
    width: 260px;
    height: 65px;
    cursor: pointer;
    box-shadow: 0px 1px 2px 2px;
    font-family: 'Kanit',sans-serif;
    letter-spacing: 5px;

  }