<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Banana Bro</title>
    <link rel="stylesheet" type="text/css" href="../CSS/score.css">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

  </head>

  <body>
    <div class="demo" id="Demo">
      <p id="text" style="text-align: left; font-size: 30px; padding: 15px">
        น้องชายของคุณตื่นจากเตียงแบบไหน?
      </p>

      <div>
        <div id="image_banana" style="text-align: center">
          <img src="../images/1.jpg" width="200px" height="200px" />
        </div>
      </div>
      <br />

      <div class="choice" id="label-Answer1">
        <input type="radio" name="choice" value="0" id="Answer1" v-model="newScore"> <label for="" style="margin: 0 20px;" >เต้าหู้</label>
    </div>

    <div class="choice" id="label-Answer2">
        <input type="radio" name="choice" value="4" id="Answer2" v-model="newScore"> <label for="" style="margin: 0 20px;" >เห็ด</label>
    </div>

    <div class="choice" id="label-Answer3">
        <input type="radio" name="choice" value="6" id="Answer3" v-model="newScore"> <label for="" style="margin: 0 20px;" >กล้วย</label>
    </div>
    <div class="choice" id="label-Answer4">
        <input type="radio" name="choice" value="10" id="Answer4" v-model="newScore"> <label for="" style="margin: 0 20px;" >ฟัก</label>
    </div>


     <div>
            <button class="button1" onclick="location.href='age.html'"><i class="fa fa-arrow-left" style="font-size: 26px;"></i></button>
            <button class="button" @click="addAnswer">CONTINUE</button>
        </div>

      
    </div>
  </body>
  <script src="../JS/q1.js"></script>
</html>
